.main-content,.nav-container{font-family: 'Noto Sans', sans-serif;}
.main-content p{margin-bottom:10px;}
div[class^="header"]{font-size:22px;margin:5px 0;font-weight:bold;border-bottom: 2px solid;}
.header1,.color1{color:#a1189c;}
.header2,.color2{color:#f2ac24;}
.header3,.color3{color:#91de21;}
.header4,.color4{color:#4e5191;}
.header5,.color5{color:#e52241;}
.header6,.color6{color:#1cbc30;}
.nav-container{border-radius: 5px;border: 2px solid #a1189c;}
.nav-button{color:#a1189c;float: left;font-weight: bold;padding:10px;text-align: center;}
.nav-color1:hover,.nav-color2:hover,.nav-color3:hover,.nav-color4:hover,.nav-color5:hover,.nav-color6:hover,.active{color:#fff;}
.nav-color1:hover,.nav-color1.active {background-color: #a1189c;}
.nav-color2:hover,.nav-color2.active {background-color: #f2ac24;}
.nav-color3:hover,.nav-color3.active {background-color: #91de21;}
.nav-color4:hover,.nav-color4.active {background-color: #4e5191;}
.nav-color5:hover,.nav-color5.active {background-color: #e52241;}
.nav-color6:hover,.nav-color6.active {background-color: #1cbc30;}
.footer-nav a {margin-right:10px;}
#mygallery{display:none;}
nav {margin-bottom:10px;}
.iframe-wrapper { position: relative;padding-bottom: 56.25%;padding-top: 35px;height: 0;overflow: hidden;margin-top:20px;}
.iframe-wrapper iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;}
footer{border-top: 2px solid #8a1586;padding-top: 5px;margin-top: 15px;}
.main-image{width:200px;float:left;margin-right:10px}
.caption{font-size: 12px;line-height: 14px;display: inline-block;float: left;width: 100%;padding-top: 3px;}
.main-content ol {margin-left: 30px;}
ol li {font-size:20px;font-weight:bold;}

.eventDescription,.formDefLabel,label.k_donation {display:none !important;}
div.kimbiaDiv label.groupLabel.section {margin: 0 !important;}
div.kimbiaDiv span.fieldCaption,div.kimbiaDiv label {font-size:14px;font-weight:normal;}
div.kimbiaDiv table.k_table td, div.kimbiaDiv table.k_table th {font-size:14px;}

.main-content table{background: none;border: none;}
.main-content select{width:150px;}
.partner-logo {margin: 0 15px 0 0;float: left;}
.partner-container {clear: both;margin-bottom: 15px;}
/*color box*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:20px;background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(/images/loading.gif) no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(/img/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(/img/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(/img/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}
